<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="z-index: 1;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ups&Downs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->

<header>
  <div class="header">
    <nav class="navigation">
      <a href="#" class="navbar-logo">Logo</a>
      <div class="navbar-right">
        <a href="#">Home</a>
        <a href="#">Finance</a>
        <a href="#">Crypto</a>
        <a href="#">Algorithms</a>
      </div>
    </nav>
  </div>
</header>
<div class="block">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="text">
  <h1>The new standard in online payment</h1>
  <p>Stripe is the best software platform for running an internet business.
    We handle billions of dollars every year for forward-thinking business around the world
  </p>
  <div class="button-area">
    <a href="#">Start now</a>
    <a href="#">Contact sales</a>
  </div>
</div>
<div class="img-wrapper-tablet">
  <img src="../assets/img/img1.svg" alt="">
</div>
<div class="img-wrapper-phone">
  <img src="../assets/img/img2.svg" alt="">
</div>